In [ ]:
import pandas as pd
df = pd.read_csv('Data/WikiQA-train.tsv', sep='\t')
df

,QuestionID,Question,DocumentID,DocumentTitle,SentenceID,Sentence,Label
0,Q1,how are glacier caves formed?,D1,Glacier cave,D1-0,A partly submerged glacier cave on Perito More...,0
1,Q1,how are glacier caves formed?,D1,Glacier cave,D1-1,The ice facade is approximately 60 m high,0
2,Q1,how are glacier caves formed?,D1,Glacier cave,D1-2,Ice formations in the Titlis glacier cave,0
3,Q1,how are glacier caves formed?,D1,Glacier cave,D1-3,A glacier cave is a cave formed within the ice...,1
4,Q1,how are glacier caves formed?,D1,Glacier cave,D1-4,"Glacier caves are often called ice caves , but...",0
...,...,...,...,...,...,...,...
20342,Q3043,what is section eight housing,D2807,Section 8 (housing),D2807-8,A tenant who leaves a subsidized project will ...,0
20343,Q3043,what is section eight housing,D2807,Section 8 (housing),D2807-9,The United States Department of Housing and Ur...,0
20344,Q3044,what is the main type of restaurant,D2808,Category:Types of restaurants,D2808-0,Restaurants categorized by type and informatio...,0
20345,Q3046,what is us dollar worth based on,D2810,History of the United States dollar,D2810-0,U.S. Federal Reserve notes in the mid-1990s,0
20346,Q3046,what is us dollar worth based on,D2810,History of the United States dollar,D2810-1,The history of the United States dollar covers...,0

In [ ]:
# Create a new dataframe with four columns
new_df = pd.DataFrame(columns=['Question', 'Document', 'Answer'])

# Loop through the unique QuestionIDs in the original dataframe
for qid in df['QuestionID'].unique():
    # Get the first question associated with this QuestionID
    first_question = df.loc[df['QuestionID'] == qid, 'Question'].iloc[0]
    
    # Get all sentences associated with this QuestionID
    sentences = df.loc[df['QuestionID'] == qid, 'Sentence']
    
    # Concatenate all sentences into a single string
    concatenated_sentence = ' '.join(sentences)
    
    # Get the sentence associated with this QuestionID where the Label is 1
    answer = df.loc[(df['QuestionID'] == qid) & (df['Label'] == 1), 'Sentence']
    
    # If there is at least one such row, get the first sentence
    if not answer.empty:
        answer = answer.iloc[0]
    else:
        answer = ''
    
    # Add the QuestionID, first_question, concatenated_sentence, and answer to the new dataframe
    new_row = {'Question': first_question, 'Document': concatenated_sentence, 'Answer': answer}
    new_df = pd.concat([new_df, pd.DataFrame([new_row])], ignore_index=True)

# Print the new dataframe
new_df.head(16)
               
#print(new_df.iloc[0][2])

,Question,Document,Answer
0,how are glacier caves formed?,A partly submerged glacier cave on Perito More...,A glacier cave is a cave formed within the ice...
1,How are the directions of the velocity and for...,"In physics , circular motion is a movement of ...",
2,how did apollo creed die,Apollo Creed is a fictional character from the...,
3,how long is the term for federal judges,"In the United States, the title of federal jud...",
4,how a beretta model 21 pistols magazines works,The Beretta 21A Bobcat is a small pocket-sized...,
5,how a vul works,Variable Universal Life Insurance (often short...,
6,how an outdoor wood boiler works,The outdoor wood boiler is a variant of the cl...,
7,how big did girl scout cookie boxes used to be,A mound of Girl Scout cookies. This mound cont...,
8,how big is the purdue greek system,"University Hall Purdue University, located in ...",
9,how big do sebaceous cysts get,A sebaceous cyst () is a term that loosely ref...,
10,how are pointe shoes made,"Modern pointe shoes. The edge of the toe pad, ...",
11,how much is 1 tablespoon of water,This tablespoon has a capacity of about 15 mL....,This tablespoon has a capacity of about 15 mL.
12,how much are the harry potter movies worth,Harry Potter is a series of seven fantasy nove...,The series also originated much tie-in merchan...
13,how a rocket engine works,RS-68 being tested at NASA's Stennis Space Cen...,"A rocket engine, or simply ""rocket"", is a jet ..."
14,how old was britney spears when she recorded h...,...Baby One More Time is a song by American re...,
15,how are cholera and typhus transmitted and pre...,Cholera is an infection in the small intestine...,Transmission occurs primarily by drinking wate...

In [ ]:
# new_df['tokenize'] = ''

# for paragraph in new_df.Document:
#   token = ['0' for i in range(len(paragraph))]
#   if new_df.Answer == '':
#     start_index = end_index = -1
#     print(1)
#   else:
#     start_index = paragraph.find(new_df.Answer)
#     end_index = start_index + len(new_df.Answer)
#     print(start_index)
#     print(end_index)

In [ ]:
new_df['labels'] = ''

for i in range(len(new_df)):
  paragraph = new_df.loc[i, 'Document']
  token = ['None' for i in range(len(paragraph))]
  if new_df.loc[i, 'Answer'] != '':
    start_index = paragraph.find(new_df.loc[i, 'Answer'])
    end_index = start_index + len(new_df.loc[i, 'Answer'])
    token[start_index] = 'S'
    for j in range(start_index+1, end_index):
      token[j] = 'I'
    token[end_index-1] = 'E'
  new_df.at[i, 'labels'] = token

In [ ]:
new_df

,Question,Document,Answer,labels
0,how are glacier caves formed?,A partly submerged glacier cave on Perito More...,A glacier cave is a cave formed within the ice...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,How are the directions of the velocity and for...,"In physics , circular motion is a movement of ...",,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,how did apollo creed die,Apollo Creed is a fictional character from the...,,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,how long is the term for federal judges,"In the United States, the title of federal jud...",,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,how a beretta model 21 pistols magazines works,The Beretta 21A Bobcat is a small pocket-sized...,,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...
2112,where was blue mountain state filmed at,Blue Mountain State is an American comedy seri...,,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2113,When was Apple Computer founded,"Apple Inc., formerly Apple Computer, Inc., is ...","The company was founded on April 1, 1976, and ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2114,what is section eight housing,Section 8 housing in the South Bronx Section 8...,"Section 8 of the Housing Act of 1937 (), often...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2115,what is the main type of restaurant,Restaurants categorized by type and informatio...,,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2116,what is us dollar worth based on,U.S. Federal Reserve notes in the mid-1990s Th...,,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [ ]:
print(new_df.labels[0])

['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'S', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'E', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']

In [ ]:
# Tokenisation
from nltk.tokenize import TreebankWordTokenizer
tknzr = TreebankWordTokenizer()

tknzr.tokenize(new_df.iloc[0][1])

['A',
 'partly',
 'submerged',
 'glacier',
 'cave',
 'on',
 'Perito',
 'Moreno',
 'Glacier',
 '.',
 'The',
 'ice',
 'facade',
 'is',
 'approximately',
 '60',
 'm',
 'high',
 'Ice',
 'formations',
 'in',
 'the',
 'Titlis',
 'glacier',
 'cave',
 'A',
 'glacier',
 'cave',
 'is',
 'a',
 'cave',
 'formed',
 'within',
 'the',
 'ice',
 'of',
 'a',
 'glacier',
 '.',
 'Glacier',
 'caves',
 'are',
 'often',
 'called',
 'ice',
 'caves',
 ',',
 'but',
 'this',
 'term',
 'is',
 'properly',
 'used',
 'to',
 'describe',
 'bedrock',
 'caves',
 'that',
 'contain',
 'year-round',
 'ice',
 '.']